numpy==1.26.4
fastapi==0.115.12
pydantic
requests
uvicorn==0.34.2
langchain>=0.1.13
openai
python-multipart==0.0.20
langchain-qdrant
appdirs==1.4.4
atomicwrites==1.4.0
Deprecated==1.2.18
docstring_parser==0.16
dotenv==0.9.9
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.90.0
google-cloud-bigquery==3.31.0
google-cloud-core==2.4.3
google-cloud-pubsub==2.29.0
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-generativeai==0.8.4
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
grpc-google-iam-v1==0.14.2
grpcio==1.70.0
grpcio-status==1.70.0
httplib2==0.22.0
jsonpointer==2.1
matplotlib==3.9.2
opentelemetry-api==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
packaging==25.0
pillow==11.2.1
proto-plus==1.26.0
protobuf==5.29.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
rsa==4.9
setuptools==75.1.0
shapely==2.1.0
starlette==0.46.2
uritemplate==4.1.1
wheel==0.44.0
youtube-transcript-api==0.6.3